In [1]:
#Importações
import pandas as pd

In [2]:
#Passando os dados do arquivo train.csv para um DataFrame
df = pd.read_csv('train.csv')

In [3]:
#Renomeando as colunas
df.columns = ['IdPassageiro', 'Sobreviveu', 'Classe', 'Nome', 'Sexo', 'Idade', 'IrmaosConjuge',
       'PaisFilhos', 'Bilhete', 'Tarifa', 'Cabine', 'PortaoEmbarque']

In [4]:
'''Tratando os dados do tipo string e object em letras maiúscula para melhor resultados em pesquisas
O método map faz um mapeamento por todo o DataFrame utilizando a função lambda que percorre as colunas
e quando itendifica uma coluna do tipo STR ou OBJECT ela faz o tratamento.
Se o valor não está nas características desejada o else faz deixar como está'''
df = df.map(lambda x: x.upper().strip() if isinstance(x, str or object) else x)

In [5]:
#Formatando a coluna Tarifa para duas casas decimais
df['Tarifa'] = df['Tarifa'].round(2)

In [6]:
#Preenchendo a coluna idade para os valores  Null e formatando a coluna para valores inteiros
df['Idade'] = df['Idade'].fillna(0)
df['Idade'] = df['Idade'].astype(int)

In [7]:
#Calculando a média de tarifa e arredondando o valor
df['Tarifa'].mean().round()

np.float64(32.0)

In [8]:
'''Calculando a média de tarifa de uma forma 'manual somando todos os valores da coluna tarida
e dividindo com o tamanho de indexes da mesma coluna'''
(df['Tarifa'].sum() / len(df['Tarifa'])).round()

np.float64(32.0)

In [9]:
#Calculando a média de idade e arredondando
df['Idade'].mean().round()

np.float64(24.0)

In [10]:
#Identificando o maior valor da coluna Idade com iloc
df['Idade'].iloc[df['Idade'].idxmax()]

np.int64(80)

In [11]:
#Obtendo os dados do index do maior valor da coluna Idade utilizando loc
df[['Nome', 'Idade', 'Sexo', 'Classe', 'Sobreviveu']].loc[df['Idade'].idxmax()]

Nome          BARKWORTH, MR. ALGERNON HENRY WILSON
Idade                                           80
Sexo                                          MALE
Classe                                           1
Sobreviveu                                       1
Name: 630, dtype: object

In [ ]:
"""Traduzindo os valores de uma coluna utilizando a combinação da função replace com o método inplace=True para forçar
a mudança no DataFrame funcionaria também da seguinte maneira:
df['Sexo'] = df['Sexo'].replace({'FEMALE': 'FEMININO', 'MALE':'MASCULINO'})
O que eu faço é basicamente por exemplo: Buscar os valores 'FEMALE' na coluna e mudar para 'FEMININO' e da mesma forma
para o 'MALE' transformando em 'MASCULINO'."""
df['Sexo'].replace({'FEMALE': 'FEMININO', 'MALE':'MASCULINO'}, inplace=True)